<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>新页面1</title>
	<link href="css/jqueryui.css" rel="stylesheet" type="text/css" />
	<link href="css/layout-default.css" rel="stylesheet" type="text/css" />
	<link href="css/tlayout.css" rel="stylesheet" type="text/css" />
	<link href="css/vjpublic.css" rel="stylesheet" type="text/css" />
	<link href="css/zTreeStyle.css" rel="stylesheet" type="text/css" />
	<link href="css/treeview.css" rel="stylesheet" type="text/css" />
	<link href="css/vjpage.css" rel="stylesheet" type="text/css" />
	<link href="css/config.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="js/public.js"></script>
	<script type="text/javascript" src="js/jquery-1.10.2.js"></script>
	<script type="text/javascript" src="js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="js/resizeComponents.js"></script>
	<script type="text/javascript" src="layout/jquery.layout.js"></script>
	<script type="text/javascript" src="js/jquery.ztree.all-3.5.min.js"></script>
	<script type="text/javascript" src="index.js"></script>
</head>
<body data-curpagename="page5" class="body_style1">
<div id="index_jContainer1" class="tlayout_style2"><div id="index_jContainer1_container" class="container">
	<div id="index_jRegion1" class="index_jContainer1_north">
	
	
		<div id="index_panel" class="Panel Panel_Null">
			<div id="index_jLabel1" class="text">稽核报告管理系统</div>
			<div id="index_jPanel2" class="Panel Panel_Null">
				<div class="linkbox link_01" id="index_jLink1"><a href="#" target="_self">首页</a></div>
				<div class="linkbox link_01" id="index_jLink2"><a href="#" target="_self">修改密码</a></div>
				<div class="linkbox link_01" id="index_jLink3"><a href="#" target="_self">重新登录</a></div>
				<div class="linkbox link_01" id="index_jLink4"><a href="#" target="_self">退出</a></div>
				<div id="index_jLabel2" class="text">|</div>
				<div id="index_jLabel3" class="text">|</div>
				<div id="index_jLabel4" class="text">|</div></div>
			<div id="index_jPanel4" class="Panel Panel_Null colorp_grain3">
				<div id="index_jLabel18" class="text">当前登录用户：admin</div>
				<div id="index_jLabel19" class="text">现在时间：2014-3-18 10:24</div>
				<div id="index_jLabel20" class="text">星期二</div></div></div></div>
	
	<div id="index_jRegion2" class="index_jContainer1_center">
		<div id="index_jRegion4" class="index_jRegion2_north">
			<div id="index_jRegion10" class="index_jRegion4_west">
				<div id="index_jExtPanel2" class="Panelbar Panelbar_grain Panelbar_TT14"><div class="PanelBarCaptionbox colorp_grain2" ><div class="PanelBarCaption border_grain01"><span>稽核报告管理</span></div></div><div class="PanelContent colorp_grain5 ">
					<div id="index_jLabel7" class="text">报告编号：</div>
					<input name="index_jEdit1" type="text" class="Edit Edit_style1" value="" id="index_jEdit1"/>
					<div id="index_jButton1" class="vjbutton border_radius_3 vjbutton_c_style4"><div class="vjbutton_txtR"><span class="btniconcum1"><img src="images/jmagnifier-left.png" width="16" height="16"/></span><span class="btniconcum2"><img src="images/jmagnifier-left.png" width="16" height="16"/></span><span class="btntxt"></span>查询</div></div>
					<div id="index_jLabel8" class="text">学校名称：</div>
					<input name="index_jEdit2" type="text" class="Edit Edit_style1" value="" id="index_jEdit2"/>
					<div id="index_jButton2" class="vjbutton vjbutton_c_style1 border_radius_3"><div class="vjbutton_txtR"><span class="btniconcum1"><img src="images/jadd.png" width="16" height="16"/></span><span class="btniconcum2"><img src="images/jadd.png" width="16" height="16"/></span><span class="btntxt"></span>创建新报告</div></div>
					<div id="index_jButton3" class="vjbutton vjbutton_c_style1 border_radius_3"><div class="vjbutton_txtR"><span class="btniconcum1"><img src="images/jdelete.png" width="16" height="16"/></span><span class="btniconcum2"><img src="images/jdelete.png" width="16" height="16"/></span><span class="btntxt"></span>删除报告</div></div></div></div></div>
			<div id="index_jRegion11" class="index_jRegion4_center">
				<div id="index_jExtPanel5" class="Panelbar Panelbar_grain Panelbar_TT14"><div class="PanelBarCaptionbox colorp_grain2" ><div class="PanelBarCaption border_grain01"><span>稽核报告统计图</span></div></div><div class="PanelContent colorp_grain5 ">
					<div id="index_jLabel9" class="text">学校省份：</div>
					<div id="index_jComboBox1">
						<select name="index_jComboBox1_select" size="1" id="index_jComboBox1_select" style="width:inherit">
						</select>
					</div>
					<div class="datepicker dpicker01" id="index_jDateTimePicker1"><input name="index_jDateTimePicker1" type="text" id="index_jDateTimePicker1_edit"></div>
					<div id="index_jLabel10" class="text">稽核开始日期：</div>
					<div id="index_jLabel11" class="text">稽核结束日期：</div>
					<div class="datepicker dpicker01" id="index_jDateTimePicker2"><input name="index_jDateTimePicker2" type="text" id="index_jDateTimePicker2_edit"></div>
					<div id="index_jLabel12" class="text">统计依据：</div>
					<div id="index_jComboBox2">
						<select name="index_jComboBox2_select" size="1" id="index_jComboBox2_select" style="width:inherit">
							<option value="" selected="selected" id="index_jComboBox2_option1">稽核分值</option>
							<option value="" id="index_jComboBox2_option2">学校分类</option>
						</select>
					</div>
					<div id="index_jButton4" class="vjbutton vjbutton_c_style1 border_radius_3"><div class="vjbutton_txtR"><span class="btniconcum1"><img src="images/jzoom.png" width="16" height="16"/></span><span class="btniconcum2"><img src="images/jzoom.png" width="16" height="16"/></span><span class="btntxt"></span>查询</div></div>
					<div id="index_jButton5" class="vjbutton vjbutton_c_style1 border_radius_3"><div class="vjbutton_txtR"><span class="btniconcum1"><img src="images/jzoom.png" width="16" height="16"/></span><span class="btniconcum2"><img src="images/jzoom.png" width="16" height="16"/></span><span class="btntxt"></span>查询</div></div>
					<div id="index_jButton6" class="vjbutton vjbutton_c_style1 border_radius_3"><div class="vjbutton_txtR"><span class="btniconcum1"><img src="images/jzoom.png" width="16" height="16"/></span><span class="btniconcum2"><img src="images/jzoom.png" width="16" height="16"/></span><span class="btntxt"></span>查询</div></div></div></div></div></div>
		<div id="index_jRegion5" class="index_jRegion2_center">
			<div id="index_jRegion12" class="index_jRegion5_west">
				<div id="index_jExtPanel6" class="Panelbar Panelbar_grain Panelbar_TT14"><div class="PanelBarCaptionbox colorp_grain2" ><div class="PanelBarCaption border_grain01"><span>稽核报告统计表</span></div></div><div class="PanelContent colorp_grain5 ">
					<div id="index_jLabel13" class="text">学校省份：</div>
					<div id="index_jComboBox3">
						<select name="index_jComboBox3_select" size="1" id="index_jComboBox3_select" style="width:inherit">
						</select>
					</div>
					<div id="index_jLabel14" class="text">稽核开始日期：</div>
					<div class="datepicker dpicker01" id="index_jDateTimePicker3"><input name="index_jDateTimePicker3" type="text" id="index_jDateTimePicker3_edit"></div>
					<div id="index_jLabel15" class="text">稽核结束日期：</div>
					<div class="datepicker dpicker01" id="index_jDateTimePicker4"><input name="index_jDateTimePicker4" type="text" id="index_jDateTimePicker4_edit"></div>
					<div id="index_jLabel16" class="text">分类统计依据：</div>
					<div id="index_jComboBox4">
						<select name="index_jComboBox4_select" size="1" id="index_jComboBox4_select" style="width:inherit">
							<option value="" selected="selected" id="index_jComboBox4_option1">稽核员</option>
							<option value="" id="index_jComboBox4_option2">学校</option>
							<option value="" id="index_jComboBox4_option3">单校稽核情况</option>
						</select>
					</div>
					<div id="index_jButton8" class="vjbutton vjbutton_c_style1 border_radius_3"><div class="vjbutton_txtR"><span class="btniconcum1"><img src="images/jzoom.png" width="16" height="16"/></span><span class="btniconcum2"><img src="images/jzoom.png" width="16" height="16"/></span><span class="btntxt"></span>查询</div></div></div></div></div>
			<div id="index_jRegion13" class="index_jRegion5_center">
				<div id="index_jExtPanel7" class="Panelbar Panelbar_grain Panelbar_TT14"><div class="PanelBarCaptionbox colorp_grain2" ><div class="PanelBarCaption border_grain01"><span>稽核报告数据分析</span></div></div><div class="PanelContent colorp_grain5 ">
					<div id="index_jLabel17" class="text">分析扣分项依据：</div>
					<div id="index_jComboBox5">
						<select name="index_jComboBox5_select" size="1" id="index_jComboBox5_select" style="width:inherit">
							<option value="" selected="selected" id="index_jComboBox5_option1">地区</option>
							<option value="" id="index_jComboBox5_option2">单校</option>
						</select>
					</div>
					<div id="index_jButton7" class="vjbutton vjbutton_c_style1 border_radius_3"><div class="vjbutton_txtR"><span class="btniconcum1"><img src="images/jzoom.png" width="16" height="16"/></span><span class="btniconcum2"><img src="images/jzoom.png" width="16" height="16"/></span><span class="btntxt"></span>查询</div></div></div></div></div></div></div>
	<div id="index_jRegion3" class="index_jContainer1_west">
		<div id="index_jExtPanel1" class="Panelbar Panelbar_grain Panelbar_TT14"><div class="PanelBarCaptionbox colorp_grain2" ><div class="PanelBarCaption border_grain01"><span>导航</span></div></div><div class="PanelContent colorp_grain5 ">
			<div id="index_jAccordion1"><div id="index_jAccordion1_body">
					<h3><a href="#">系统设置</a></h3>
						<div>
							<div id="index_jTreeView1" class="TJtree"><ul id="index_jTreeView1_ztree" class="ztree"></ul></div>
						</div>
					<h3><a href="#">稽核报告管理</a></h3>
						<div>
							<div id="index_jTreeView2" class="TJtree"><ul id="index_jTreeView2_ztree" class="ztree"></ul></div>
						</div>
					<h3><a href="#">稽核报告审核</a></h3>
						<div>
							<div id="index_jTreeView3" class="TJtree"><ul id="index_jTreeView3_ztree" class="ztree"></ul></div>
						</div>
					<h3><a href="#">稽核报告公示</a></h3>
						<div>
							<div id="index_jTreeView4" class="TJtree"><ul id="index_jTreeView4_ztree" class="ztree"></ul></div>
						</div>
					<h3><a href="#">稽核分值统计图</a></h3>
						<div>
							<div id="index_jTreeView5" class="TJtree"><ul id="index_jTreeView5_ztree" class="ztree"></ul></div>
						</div>
					<h3><a href="#">稽核情况统计表</a></h3>
						<div>
							<div id="index_jTreeView6" class="TJtree"><ul id="index_jTreeView6_ztree" class="ztree"></ul></div>
						</div>
					<h3><a href="#">稽核数据分析</a></h3>
						<div>
							<div id="index_jTreeView7" class="TJtree"><ul id="index_jTreeView7_ztree" class="ztree"></ul></div>
						</div>
					<h3><a href="#">学校信息</a></h3>
						<div>
							<div id="index_jTreeView8" class="TJtree"><ul id="index_jTreeView8_ztree" class="ztree"></ul></div>
						</div></div></div></div></div></div>
	<div id="index_jRegion6" class="index_jContainer1_east">
		<div id="index_jRegion7" class="index_jRegion6_north">
			<div id="index_jExtPanel3" class="Panelbar Panelbar_grain Panelbar_TT14"><div class="PanelBarCaptionbox colorp_grain2" ><div class="PanelBarCaption border_grain01"><span>报告情况</span></div></div><div class="PanelContent colorp_grain5 ">
				<div class="Listbox Listbox_style3 ListCl_1" id="index_jTextLi1">
					<ul>
						<li><span class="ListIco">&nbsp;</span><span class="ListCl"></span><span class="ListTitle">文字列表</span></li>
					</ul>
				</div></div></div></div>
		<div id="index_jRegion8" class="index_jRegion6_center">
			<div id="index_jExtPanel4" class="Panelbar Panelbar_grain Panelbar_TT14"><div class="PanelBarCaptionbox colorp_grain2" ><div class="PanelBarCaption border_grain01"><span>友情链接</span></div></div><div class="PanelContent colorp_grain5 ">
				<div class="linkbox link_03" id="index_jLink8"><a href="#" target="_self">免费午餐官方网站</a></div>
				<div id="index_jImages2" class="Timage Timage_style1 Timage_auto"><img src="images/jhouse.png" alt="images/jhouse.png" title=""/></div>
				<map name="index_jImages2_map" id="index_jImages2_map">
				</map></div></div></div></div>
	<div id="index_jRegion9" class="index_jContainer1_south">
		<div id="index_jPanel3" class="Panel Panel_Null">
			<div class="linkbox link_04" id="index_jLink5"><a href="#" target="_self">版权所有清华青岛大数据工程研究中心</a></div>
			<div id="index_jLabel5" class="text">|</div>
			<div id="index_jLabel6" class="text">|</div>
			<div class="linkbox link_04" id="index_jLink6"><a href="#" target="_self">反馈意见</a></div>
			<div class="linkbox link_04" id="index_jLink7"><a href="#" target="_self">联系我们</a></div></div></div></div></div>

</body>
<script type="text/javascript" src="js/Timage.js"></script>
</html>
